<div class="panel panel-default panel-no-border">
    <div class="panel-heading">
        <strong>Last 5 added customers</strong>
    </div>
    <div class="panel-body">
        <div class="scrollable-x splynx-table-wrap">
            <table class="table table-striped table-bordered splynx-table">
                <tr>
                    <th>ID</th>
                    <th>Login</th>
                    <th>Full name</th>
                </tr>
                {% for customer in model.getFiveLastAdded() %}
                    <tr>
                        <td>{{ customer.id }}</td>
                        <td>{{ customer.login }}</td>
                        <td>{{ customer.name }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
